@media (min-width: 425px) {
  .card {
    width: 80% !important;
  }
}
@media (min-width: 768px) {
  .card {
    width: 60% !important;
  }
  .flex-sm-row {
    flex-direction: row !important;
    justify-content: space-between;

    .col {
      margin: 0;
    }
  }
}
@media (min-width: 1024px) {
  .card {
    width: 50% !important;
  }
}
@media (min-width: 1084px) {
  .card {
    width: 90% !important;
    // max-height: 80%;
    flex-direction: row-reverse !important;
    justify-content: space-between;
    text-align: left;
    .card__header {
      border-radius: 0 $cardBorderRadius $cardBorderRadius 0;
      .card__image {
        border-radius: 0 $cardBorderRadius $cardBorderRadius 0;
      }
      //   .overlay {
      //     border-radius: 0 $cardBorderRadius $cardBorderRadius 0;
      //   }
    }
    .card__body {
      width: 50%;
      padding: 5rem;
    }
  }
}
@media (min-width: 1440px) {
  .card {
    width: 80% !important;
  }
}
