@import "variables";
@import "globals";
.container {
  background-color: $veryDarkBlue;
  min-height: 100vh;
}
.card {
  max-width: 1140px;
  margin: 5em 1em;
  background-color: $darkDesaturatedBlue;
  text-align: center;
  border-radius: $cardBorderRadius;
  .card__header {
    border-radius: $cardBorderRadius $cardBorderRadius 0 0;
    position: relative;
    background-color: $softViolet;

    .card__image {
      display: block;
      mix-blend-mode: multiply;
      border-radius: $cardBorderRadius $cardBorderRadius 0 0;
    }
  }
  .card__body {
    padding: 2.33em;
    .card__heading {
      margin-bottom: $spacing;
    }
    .card__subtitle {
      margin-bottom: $spacing;
      line-height: 1.5;
    }
  }
}

.highlight {
  color: $softViolet;
}

.stats {
  font-family: $secondaryFont;
  text-transform: uppercase;
  .col {
    margin-bottom: $spacing;
  }
}
.counter {
  font-size: 1.5rem;
}
@import "media-queries";
